header {
  transition: all 0.6s ease 0s;
}
header.active {
  opacity: 1 !important;
  visibility: visible !important;
}
header.active .menu-btn:before {
  opacity: 0;
}
header.active .menu-btn:after {
  bottom: 9px !important;
  transform: rotate(-45deg);
}
header.active .menu-btn span {
  transform: rotate(45deg);
}
header.active .head-top .top-menu {
  position: fixed;
  top: 100px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  height: auto;
  background-color: #fff;
  text-align: center;
  opacity: 1 !important;
  visibility: visible !important;
}
@media (max-width: 815px) {
  header.active .head-top .top-menu {
    top: 80px;
  }
}
header.active .head-top .top-menu ul li {
  display: block;
  margin: 30px 0;
}
header .head-top .menu-btn:before,
header .head-top .menu-btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #141414;
  transition: all 0.3s ease 0s;
}
header .head-top .menu-btn:after {
  top: auto;
  bottom: 0;
}
header .head-top .menu-btn {
  position: relative;
  margin: 0 auto;
  width: 26px;
  height: 20px;
}
header .head-top .menu-btn:before,
header .head-top .menu-btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #141414;
  transition: all 0.3s ease 0s;
}
header .head-top .menu-btn:after {
  top: auto;
  bottom: 0;
}
header .head-top .menu-btn span {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #141414;
  margin-top: -1px;
  transition: all 0.3s ease 0s;
}
header .head-top .menu-btn:hover:before,
header .head-top .menu-btn:hover:after,
header .head-top .menu-btn:hover span {
  background: var(--extra-color);
}
@media (max-width: 840px) {
  header .head-top .top-menu {
    opacity: 0;
    visibility: hidden;
    height: 0px;
    transition: opacity 0.3s ease 0.5s;
    -moz-transition: opacity 0.3s ease 0.5s;
    -webkit-transition: opacity 0.3s ease 0.5s;
    -o-transition: opacity 0.3s ease 0.5s;
  }
}
header .head-top .top-menu ul li {
  transition: color 0.3s ease 0s;
}
header .head-top .top-menu ul li.active a {
  color: var(--extra-color);
}
header .head-top .top-menu ul li.active .btn {
  color: #ffffff;
  background: var(--extra-color);
  border: 1px solid var(--extra-color);
}
.section {
  transition: all 0.6s ease 0s;
}
footer {
  transition: all 0.6s ease 0s;
}
footer .soc a .ion {
  transition: all 0.3s ease 0s;
}
footer .soc a:hover .ion {
  color: var(--extra-color);
}
.section.started .mouse_btn .ion {
  animation: mouse-anim 1s ease-out 0s infinite;
}
.section .content .title .title_inner {
  transition: all 0.3s ease 0s;
  box-shadow: inset 0 -6px 0px var(--text-shadow-color);
}
.resume-items .resume-item:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background: var(--extra-color);
}
.resume-items .resume-item:last-child:before {
  display: none;
}
.resume-items .resume-item .date:before {
  content: "";
  width: 29px;
  height: 1px;
  position: absolute;
  left: -30px;
  top: 9px;
  background: var(--extra-color);
}
.box-items .box-item .image .info {
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transform: scale(0.5, 0.5);
  -webkit-transform: scale(0.5, 0.5);
  -moz-transform: scale(0.5, 0.5);
  -o-transform: scale(0.5, 0.5);
}
.box-items .box-item:hover .image .info {
  opacity: 0.94;
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -o-transform: scale(1, 1);
}
.box-items .box-item .image .info .ion {
  transition: all 0.1s ease-in 0.4s;
  -moz-transition: all 0.1s ease-in 0.4s;
  -webkit-transition: all 0.1s ease-in 0.4s;
  -o-transition: all 0.1s ease-in 0.4s;
  font-weight: normal;
}
.section.works .filters label.glitch-effect {
  color: var(--extra-color);
}
.box-items .box-item:hover .desc .name {
  color: var(--extra-color);
}
.category {
  box-shadow: inset 0 -6px 0px var(--text-shadow-color);
}
.box-items .box-item .desc .name {
  transition: all 0.3s ease 0s;
}
.box-items .box-item .desc {
  position: relative;
  padding: 15px 45px 5px 45px;
}
.section.contacts .alert-success {
  display: none;
}
.section.contacts .alert-success p {
  margin: 60px 0 30px 0;
  font-size: 15px;
}
